@import url("https://fonts.googleapis.com/css?family=Crete+Round:400,700|Kamit:300,400,700");

/* Importing component files */
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/container.css");
/* General style rules for fonts and colors */
body {
  font-family: 'Kanit';
  font-size: 18px;
  margin: 0px;
}
h1, h2, h3 {
  font-family: 'Crete Round';
  font-weight: bold;
}
a {
  text-decoration: none;
}